.comment {
    background: linear-gradient(
            to right,
            rgba(0, 187, 156, 0.6),
            rgba(0, 145, 166, 0.6)
        ),
        url('../../../../public/images/hero_background.jpg') center
            no-repeat;
    background-size: cover;
}

.comment-content {
    background-color: #fff;
    text-align: center;
    padding: 5rem 1rem;
    position: relative;
    overflow: hidden;
}

.discount {
    background-color: var(--aqua-solid);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    outline: 2px solid var(--aqua-solid);
    outline-offset: 0.5rem;
}
.user-name {
    font-size: 3rem;
    font-family: 'Courgette', cursive;
    color: var(--blue-solid);
}

.paragraph {
    color: #a5a5a5;
    margin-bottom: 2.5rem;
}
.rating-container {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.star {
    border: none;
    font-size: 2.5rem;
    color: #fff;
}

.active-star {
    color: var(--rating-color);
}

.no-result-btn{
    display: flex;    
    margin: 0 auto;
}