.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    background: #0079A5;
    cursor: pointer;
    border-radius: 6px;
    padding: 6px 10px;
    z-index: 1;
    transition: opacity 500ms;
}

.scroll-to-top:hover {
  opacity: 0.8;
}
.scroll-btn-icon {
    color: #fff;
}

