.TermsAndConditions {
    max-width: 120rem;
    margin: 0 auto;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6rem;
    font-family: 'Courgette', cursive;
    margin: 8rem;
}

.p-wrapper {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.p-text {
    margin: 2rem 5rem;
}

@media all and (min-width: 768px) {
    .heading {
        font-size: 5.6rem;
    }
}
