.register {
    min-height: calc(100vh - 125px);
    overflow: hidden;
}

.register-content {
    display: flex;
    justify-content: center;
}

.section-head {
    text-align: center;
    margin-bottom: 5rem;
}

.heading {
    padding-top: 2rem;
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}

.sub-heading {
    font-size: 1.7rem;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    color: #a5a5a5;
}

.boat-wrap {
    display: none;
}
.container-form {
    border: 1px solid #f6f6f6;
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    margin: 1.5rem;
    width: 100%;
    max-width: 30rem;
    position: relative;
    border: 0px solid var(--aqua-solid);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.container-form::before,
.container-form::after {
    content: '';
    position: absolute;
    border-radius: 15px;
    z-index: -1;
}
.container-form::before {
    width: 90%;
    height: 120%;
    background: var(--gradient-color);
    top: -10%;
    left: 20%;
}

.container-form::after {
    background: var(--gradient-color-alt);
    width: 8rem;
    height: 8rem;
    left: -5%;
    bottom: -5%;
    z-index: -2;
}

.container-form .title-form {
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.register-form .field {
    margin: 1rem 0 1rem 0;
}

.register-form label,
.input-field {
    width: 100%;
}

.register-form label {
    font-size: 2.2rem;
}
.input-field {
    font-family: 'OpenSans', sans-serif;
    font-size: 2rem;
    padding: 0.5rem;
    border: 1px solid #9d9dc4;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in;
}
.input-field:focus {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.more {
    margin-top: 2rem;
    color: var(--aqua-solid);
    font-size: 1.75rem;
}

.more a {
    margin-left: 0.2rem;
    transition: color 300ms ease-in-out;
}

.more a:hover {
    color: var(--blue-solid);
}

.error {
    display: flex;
    color: #ff525b;
    font-size: 1.5rem;
    border-radius: 1rem;
}
@media all and (min-width: 420px) {
    .container-form {
        max-width: 40rem;
    }
}

@media all and (min-width: 768px) {
    .register-content {
        justify-content: space-between;
    }
    .boat-wrap {
        display: block;
        flex: 0 0 45%;
    }
    .boat-wrap img {
        width: 100%;
    }
    .register-form {
        flex: 0 0 50%;
        align-self: flex-start;
    }

    .input-group-wrap {
        display: flex;
    }
    .input-group-wrap .input-group { 
        width: 50%;
        margin-right: 2rem;
    }
    .input-group-wrap .input-group:last-child {
        margin-right: 0;
    }
    .container-form {
        max-width: 55rem;
    }
  
    .error {
        position: absolute;
        right: 5%;
        color: #ff525b;
        font-size: 1.5rem;
        border-radius: 1rem;
    }
}
