.form-container {
    position: relative;
    border-radius: 12px;
    padding: 1rem;
    background: rgb(203, 237, 238, 0.7);
    width: 100%;
    margin: 0 auto;
}
.form {
    display: flex;
    flex-direction: column;
}

.icon-message {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    font-size: 2.5rem;
    color: var(--blue-solid);
    transition: all 500ms;
}
.icon-message:hover {
    opacity: 0.8;
}

.btn-icon {
    background-color: inherit;
    border: none;
}

.post-input,
.post-input:focus-visible {
    background-color: #fff;
    min-height: 120px;
    border: 2px solid #fff;
    padding: 5px;
    resize: none;
    outline: none;
}
.btn-post {
    margin: 2rem auto 0 auto;
    width: 70%;
    opacity: 0.8;
}

.rating {
    height: 40px;
}

.rating label {
    float: right;
    position: relative;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.rating label:not(:first-of-type) {
    padding-right: 2px;
}
.rating label:before {
    content: '★';
    font-size: 2rem;
    color: #fff;
    line-height: 1;
}
.rating input {
    display: none;
}
.rating input:checked ~ label:before,
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
    color: var(--rating-color);
}

.name {
    text-transform: capitalize;
    color: var(--blue-solid);
    font-family: 'Courgette', cursive;
}

.name-input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
}

.item-container {
    margin-bottom: 8px;
    border-bottom: 2px solid rgb(252, 242, 228);
}
.post-main {
    font-size: 11pt;
    color: rgb(173, 131, 72);
}
.post-time {
    margin-left: 5px;
    font-size: 8pt;
    color: rgb(143, 143, 143);
}
.post-secondary {
    margin: 8px 8px;
}

.error{
    display: flex;
    color: #ff525b;
    font-size: 1.5rem;
    border-radius: 1rem;
}
.rating-error{
    position: absolute;
    top: 6rem;
    right: 1rem;
    color: #ff525b;
    font-size: 1.5rem;
    border-radius: 1rem;
}

@media all and (min-width: 480px) {
    .btn-post {
        width: 55%;
    }
}
@media all and (min-width: 768px) {
    .form-container {
        width: 40rem;
    }
    .btn-post {
        width: 34%;
    }

    .rating label::before {
        font-size: 3rem;
    }

    .rating label {
        width: 3rem;
    }
}
