.hero {
    width: 100%;
    height: 100vh;
    background: url('../../../../public/images/hero_background.jpg') center
        no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--blue-transparent-alt);
    z-index: -1;
}

.main-heading {
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5rem;
}

.title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 3.6rem;
    font-weight: 300;
    font-family: 'Courgette', cursive;
}



@media all and (min-width: 368px) {
    .title {
        font-size: 6rem;
    }
}
@media all and (min-width: 768px) {
    .title {
        font-size: 8rem;
    }
}

@media all and (min-width: 1000px) {
    
    .title {
        font-size: 12rem;
    }

    .sub-title {
        font-size: 4.6rem;
    }
}
