.btn-group {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 1rem;
}
.modal-p {
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.btn-modal {
    letter-spacing: 1px;
    border: none;
    border-radius: 0.35rem;
    background: #f65656;
    color: #fff;
    padding: 6px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: background 400ms ease-in-out;
    
}
.btn-modal:hover {
    opacity: 0.9;
}

.btn-modal-delete {
    background-color: #3085d6;
}


