.post-container {
    padding: 1.5em;
    width: 60%;
}
.item-container {
    margin-bottom: 8px;
    border-bottom: 2px solid #fff;
}
.post-main {
    color: var(--blue-solid);
    font-family: 'Courgette', cursive;
    font-size: 2rem;
}
.post-time {
    margin-left: 5px;
    font-size: 1rem;
    color: #f8d49a;
}
.post-secondary {
    margin: 8px 8px;
}
.post-body {
    color: #f7e6ca;
}
.errorText {
    color: red;
    letter-spacing: 2px;
}

@media all and (min-width: 768px) {
    .form-container {
        
        width: 40rem;
       
    }
    .btn-post {
        width: 40%;
    }
}