.section-head {
    text-align: center;
    margin-bottom: 5rem;
}

.heading {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--blue-solid);
}

.anchor-heading {
    font-size: 5rem; 
    color: var(--blue-solid);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-boats {
    height: 35rem;
    color: #fff;
    padding: 1rem;
    position: relative;
    z-index: 0;
}

.featured-boats::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-transparent-alt);
    z-index: -1;
    border-radius: 15px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boat-image {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    border-radius: 15px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

.boat-name {
    font-size: 2.6rem;
    position: absolute;
    top: 10%;
}

.boat-price {
    font-size: 2.8rem;
    font-weight: 500;
    position: absolute;
    bottom: 20%;
}

.btn-down{
    position: absolute;
    bottom: 4%;    
}
