.frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: -5%;
    left: 0;
    bottom: 0;
    right: 0;
    animation: show-modal 700ms ease-in-out;
    z-index: 900;
    margin: 0 2rem;
}
.modal.hide {
    animation: hide-modal 600ms ease-in-out both;
}
.post-container {
    position: relative;
    padding: 1.5em;
    padding-bottom: 6rem;
    background: var(--gradient-color);
    width: 15.75em;
    margin: 5vh auto;
    border-radius: 1rem;
    height: 55rem;
    overflow: hidden;
}

.post-container-with-form {
    padding-bottom: 36rem;
}

.form-title {
    position: absolute;
    top: 1vh;
    color: var(--blue-solid);
    font-family: 'Courgette', cursive;
    text-transform: capitalize;
}

.post-messages {
    overflow-y: auto;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
}

.only-messages {
    overflow-y: auto;
    margin-top: 1rem;
    height: 100%;
}

.post-messages::-webkit-scrollbar,
.only-messages::-webkit-scrollbar {
    width: 1rem;
}

.post-messages::-webkit-scrollbar-track,
.only-messages::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

.post-messages::-webkit-scrollbar-thumb,
.only-messages::-webkit-scrollbar-thumb {
    background: var(--blue-solid);
    border-radius: 1rem;
}

.btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-form {
    position: absolute;
    top: 0.4rem;
    left: 2rem;
    font-size: 2.5rem;
    color: var(--blue-solid);
    transition: all 500ms;
}
.icon-form:hover {
    opacity: 0.8;
}

.icon-message {
    position: absolute;
    top: 0.4rem;
    right: 2rem;
    font-size: 3rem;
    color: var(--blue-solid);
    transition: all 500ms;
}
.icon-message:hover {
    opacity: 0.8;
}

.btn-icon {
    background-color: inherit;
    border: none;
}

@media screen and (min-width: 468px) {
    .post-container {
        width: 30rem;
    }
}
@media screen and (min-width: 768px) {
    .modal {
        top: 14vh;
    }

    .post-container {
        width: 50rem;
    }
}
