.frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}
.modal {
    position: fixed;
    top: 14vh;
    left: 0;
    right: 0;
    bottom: 0;
    animation: show-modal 700ms ease-in-out;
    margin: 0 2rem;
}
.modal.hide {
    animation: hide-modal 600ms ease-in-out both;
}

.contact-form {
    position: relative;
    width: 100%;
    max-width: 50rem;
    background-image: var(--gradient-color);
    padding: 2.5rem;
    border-radius: 12px;
    margin: auto;
}

.contact-form .input {
    display: block;
    background-color: transparent;
    color: #fff;
    font-weight: normal;
    border-bottom: 2px solid #fff;
    padding-left: 0;
}

.input-group {
    margin: 1rem 0;
}

.input {
    outline: none;
    border: none;
    width: 100%;
    min-height: 2rem;
    padding-top: 0.8rem;
    margin: 2rem 0 0.5rem 0;
    font-weight: bold;
    font-size: 2rem;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: 'OpenSans', sans-serif;
    resize: none;
}

::-webkit-input-placeholder {
    color: #fff;
}
::-moz-placeholder {
    color: #fff;
}

.bar {
    display: block;
    position: relative;
}

.bar::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--purple-light);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
}

.contact-form .input:focus + .bar::after {
    transform: scaleX(1);
}

.icon-message {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: var(--blue-solid);
    transition: all 500ms;
}
.icon-message:hover {
    opacity: 0.9;
}

.btn-icon {
    background-color: inherit;
    border: none;
}

.error {
    color: rgb(158, 30, 30);
}

@keyframes show-modal {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hide-modal {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}

@media screen and (min-width: 768px) {
    .contact-content {
        justify-content: space-between;
    }
    .contact-form {
        flex: 0 0 50%;
        align-self: flex-start;
    }

    .input-group-wrap {
        display: flex;
    }
    .input-group-wrap .input-group {
        width: 50%;
        margin-right: 2rem;
    }
    .input-group-wrap .input-group:last-child {
        margin-right: 0;
    }
}
