.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 12rem auto 5rem auto;
}

.user-nav-link {
    display: block;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}

.container-profile-nav {
    width: 18rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue-solid);
    padding: 0 0.4rem;
    color: #fff;
    border-radius: 3rem;
    position: relative;
    transition: all 500ms ease-in-out;
}

.container-profile-nav:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: transform 500ms;
}

.box:hover {
    transform: translateY(-10px);
    background: linear-gradient(to right, var(--blue-light), var(--aqua-solid));
}
.hor {
    color: red;
}
.pen-icon {
    position: absolute;
    top: 30%;
    font-size: 1.5rem;
}

.user-profile-icon {
    transition: transform 0.4s;
}

.box:hover .user-profile-icon {
    transform: scale(1.5);
}

@media all and (min-width: 368px) {
    .container-profile-nav {
        width: 25rem;
    }
}

@media all and (min-width: 768px) {
    .container-profile-nav {
        width: 35rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
